<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>user index page</h1>
    <a href="/piggybank/register">register</a>
    <a href="/piggybank/login">login</a>
  </body>
</html>
