<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

  </head>




  <body>
    <div class="container-fluid">

      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img src="/piggybankIconNoBG.png" width="95" height="95" class="d-inline-block align-top" alt="">
          <img src="/logo2.png" width="150" height="95" class="d-inline-block align-top" alt="">
        </a>

        <div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/piggybank/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/piggybank/new">Register</a>
            </li>
          </ul>
        </div>
      </nav>


      <div class="loginForm">
        <form action="/piggybank/login" method="post">
          <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Enter Username">
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Enter Password">
          </div>
          <button type="submit" class="btn btn-primary">Log In</button>
        </form>
      </div>




      <h3>Top Ten Coins</h3>

<div class="row loginRow">


    <% for (let key in coinData["RAW"]){ %>
        <% let key1 = key; %>
        <% let key2 = coinData["RAW"][key]["USD"]["PRICE"]; %>
        <% let key3 = coinData["RAW"][key]["USD"]["CHANGEPCT24HOUR"]; %>
        <div class="col-2 coinData">
        <div class="symbol"><%= key1 %></div>
        <div class="price"> $<%= parseFloat(key2).toFixed(2) %> </div>
        <div class="percent"> [<%= parseFloat(key3).toFixed(2) %>%] </div>
      </div>
    <% } %>

</div>
    </div>
  </body>
</html>