<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="container">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="/piggybankIconNoBG.png" width="75" height="75" class="d-inline-block align-top" alt="">
          <img src="/logo2.png" width="120" height="75" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/piggybank/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/piggybank/register">Register</a>
            </li>
          </ul>
        </div>
      </nav>


        <h1>user show page</h1>

        <h1>coins</h1>

        <% coin.forEach((coin) => { %>
      <div class="row-5">

        <a href="/piggybank/portfolio/addcoin"> <%=coin.name%> </a>
      </div>

  <% }) %>


        <%= JSON.stringify(coin) %>
        <%= coin.percent_change_24h %>%





    </div>


    <a href="/piggybank/logout">Logout</a>
  </body>
</html>
