<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%= message %>
    <h1>WELCOME TOTHE APP</h1>
    <h2>REGISTER</h2>
    <form action="/register" method="post">
        username: <input type="text" name="username">
        password: <input type="password" name="password">
        <button type="submit">REGISTER FOR MY APP</button>
    </form>
    <h2>Login</h2>
    <form action="/login" method="post">
        username: <input type="text" name="username">
        password: <input type="password" name="password">
        <button type="submit">LOGIN</button>
    </form>
    <a href="/logout"><button><LOGOUT</button></a>
    <a href="/auth/google">sign in with google</a>
</body>
</html>